# Python 3.7.7
# cuda-10.0 10.0.130.1-1
# cudnn 7.4.2.24-1
# tensorflow-gpu==1.15.2

tensorflow==1.15.4
numpy==1.22.0
gym==0.10.5
baselines==0.1.5
mpi4py==3.0.3
Pillow==7.1.0
PyOpenGL==3.1.5
opencv-python==4.2.0.34
atari-py==0.2.6
matplotlib==3.3.1